[submodule "vmbuilder"]
	path = vmbuilder
	url = https://github.com/hansode/vmbuilder.git
        ignore = dirty
[submodule "redis-bash"]
	path = redis-bash
	url = https://github.com/caquino/redis-bash.git
