LANG=C
LC_ALL=C

export KEMUMAKI_ENV=shinjuku

# standalone: don't update kemumaki. update vdc
# jenkins: update kemumaki. don't update vdc unless VDC_BUILD_TARGET is specified
run_mode=standalone

# set -x if true
debug=false

# dcmgr settings
dcmgr_host=10.0.2.15
dcmgr_port=9001

kemumaki_repo_url=git://github.com/axsh/kemumaki.git
kemumaki_branch=master

vdc_repo_url=git://github.com/axsh/wakame-vdc.git
vdc_branch=master
vdc_yum_repo_host=192.168.2.50

#ssh_opts="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
ssh_opts="-o StrictHostKeyChecking=no"

report_dir=/var/www/html/reports
report_url_prefix=reports

test_timeout=$((60 * 30))
